
<footer class="footer">
    <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">基于 <a href="http://ghost.org">Ghost</a> 搭建，使用 <a href="https://www.linode.com/?r=0574e145437443b0cf99664c5b2d0670ec974c2e">Linode</a> 位于Tokyo的VPS服务器</span>
    <span class="footer__copyright">采用 <a href="http://onevcat.com">onevcat</a> 开发的 <a href="http://github.com/onevcat/vno"> Vno</a> 作为博客主题</span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
</footer>

